<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket App</title>
    <link rel="shortcut icon" href="https://rocket.rs/images/logo-boxed.png" type="image/x-icon">
</head>
<body>

    <h1>
        {{ title }}
    </h1>

    <button class="btn-inc">
        Count increase
    </button>

    <button class="btn-dec">
        Count decrease
    </button>

    <div class="container">
            <h3> 
                Count: <small class="elem"> 0 </small>     
            </h3>
    </div>


<script>
    const btnIncrease = document.querySelector('.btn-inc');
    const container = document.querySelector('.container');
    const btnDecrease = document.querySelector('.btn-dec');
    const elem = document.querySelector('.elem')

    let count = 0; 
    btnIncrease.addEventListener('click', () => {
        count++ 
        elem.textContent = count
    })

    btnDecrease.addEventListener('click', () => {
        count--
        elem.textContent = count
    })


</script>

</body>
</html>

